@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
body {
  background-color: #f2f2f2;
  font-family: 'Roboto Mono', monospace;
}
.App {
  text-align: center;
  background-color: #f2f2f2;
}

.App-link {
  color: #61dafb;
}
